# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: CI for backend

on:
  push:
    paths: "backend/**"
    branches: [ "develop" ]
  pull_request:
    paths: "backend/**"
    branches: [ "develop" ]

jobs:
  CI:
    runs-on: self-hosted
    env:
      working-directory: /opt/ml/level3_nlp_finalproject-nlp-08

    steps:
    - name: Update Code
      run: git pull
      working-directory: ${{ env.working-directory }}
      
    - name: install dependencies
      run: |
        source github_actions/bin/activate
        pip install -r requirements.txt
      working-directory: "${{ env.working-directory }}/backend"
      
    - name: Test with pytest
      run: |
        source github_actions/bin/activate
        pytest
      working-directory: "${{ env.working-directory }}/backend"
